<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
      defer
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <script src="../js/index.js" type="module" defer></script>
    <title>Time Caring</title>
    <style>
      * {
        font-family: "Montserrat", sans-serif;
      }

      .priority {
        width: 1.1rem;
        position: absolute;
        right: 35%;
      }
    </style>
  </head>
  <body>
    <nav class="navbar  navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">TIME CARING</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Criar
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Criar um projeto</a></li>
                <li><a class="dropdown-item" href="#">Criar uma task</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-dark" type="submit">Search</button>
          </form>
        </div>
        <button
          class="btn btn-secondary"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"
        >
          RESUMO
        </button>
      </div>
    </nav>
    <main class="row g-0 d-sm-flex">
      <div class="col-xl-3 p-2">
        <section id="project" class="border bg-light rounded p-2">
          <header class="h4 d-flex justify-content-between">
            <div>
              <p class="mb-1">Nome do Projeto</p>
              <p class="fs-6 mb-1">4172/21</p>
            </div>
            <div class="dropdown">
              <div
                role="button"
                id="projectBtn"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  src="../../assets/icons/icons8-ellipsis-30.png"
                  alt="ellipsis"
                  style="width: 25px"
                />
              </div>
              <ul class="dropdown-menu" aria-labelledby="projectBtn">
                <li>
                  <a
                    role="button"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#taskModal"
                    data-bs-whatever="@getbootstrap"
                    class="dropdown-item"
                    href="#"
                    >Adicionar uma tarefa</a
                  >
                </li>
                <li>
                  <a id="add-task" class="dropdown-item" href="#"
                    >Excluir projeto</a
                  >
                </li>
                <li>
                  <a data-priority="red" class="dropdown-item" href="#">
                    Prioridade
                    <img
                      class="priority"
                      src="../../assets/icons/redcircle.png"
                      alt="high priority"
                    />
                  </a>
                </li>
                <li>
                  <a data-priority="orange" class="dropdown-item" href="#">
                    Prioridade<img
                      class="priority"
                      src="../../assets/icons/orangecircle.png"
                      alt="high priority"
                      style="width: 1.1rem"
                    />
                  </a>
                </li>
                <li>
                  <a data-priority="yellow" class="dropdown-item" href="#"
                    >Prioridade<img
                      class="priority"
                      src="../../assets/icons/yellowcircle.png"
                      alt="high priority"
                      style="width: 1.1rem"
                  /></a>
                </li>
              </ul>
            </div>
          </header>
          <section class="my-2 border rounded bg-white p-2">
            <header
              class="
                d-flex
                justify-content-between
                align-items-start
                position-relative
              "
            >
              <div class="d-flex flex-column align-items-start">
                <p class="h5">Título da tarefa</p>
                <p class="h6">Responsável</p>
              </div>
              <div class="d-flex flex-column align-items-end">
                <span>00:00</span>
                <span>25/12/2021</span>
              </div>
            </header>
            <div class="p-1 mb-2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim,
              facere quasi! Id animi consequatur libero aliquid unde repellat
              consequuntur est voluptatum maxime quis, quo ullam, eos voluptatem
              nostrum accusantium. Deleniti.
            </div>
            <div>
              <h6>Comentários:</h6>
              <ul class="list-unstyled m-0">
                <li>Comentário 1</li>
                <li>Comentário 2</li>
              </ul>
            </div>
          </section>
        </section>
      </div>
      <!-- RESUMO DRAWER -->
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel"
      >
        <div class="offcanvas-header">
          <h5 id="offcanvasRightLabel">RESUMO</h5>
          <button
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="dropdown p-2">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Responsável
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a id="person1" class="dropdown-item" href="#">Person 1</a></li>
            <li><a id="person2" class="dropdown-item" href="#">Person 2</a></li>
            <li><a id="person3" class="dropdown-item" href="#">Person 3</a></li>
          </ul>
        </div>
        <div class="offcanvas-body">
          <section class="border bg-light rounded p-2">
            <header class="h4 mb-2 mt-1">Nome do Projeto</header>
            <section class="container my-2 border rounded bg-white p-2">
              <header class="d-flex justify-content-between">
                <div>
                  <h5>Título da tarefa</h5>
                </div>
                <span class="">00:00</span>
              </header>
              <div class="progress mt-1">
                <div
                  class="progress-bar progress-bar-striped"
                  role="progressbar"
                  style="width: 50%"
                  aria-valuenow="50"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </section>
          </section>
        </div>
      </div>
      <!-- TASK MODAL -->
      <div
        class="modal fade"
        id="taskModal"
        tabindex="-1"
        aria-labelledby="taskModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header align-items-start">
              <div class="col-11">
                <h5 class="modal-title">Adicionar uma tarefa</h5>
              </div>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="modal-task-title" class="col-form-label"
                    >Título da tarefa:
                  </label>
                  <input
                    name="title"
                    type="text"
                    class="form-control mb-2"
                    id="modal-task-title"
                  />
                  <label for="modal-person-task" class="col-form-label"
                  >Responsável da tarefa:
                </label>
                  <input
                    type="text"
                    class="form-control"
                    id="modal-person-task"
                  />
                  <label for="modal-task-description" class="col-form-label"
                    >Descrição da tarefa:</label
                  >
                  <textarea
                    maxlength="300"
                    rows="3"
                    class="form-control"
                    id="modal-task-description"
                  ></textarea>
                  <label for="modal-duedate" class="col-form-label"
                    >Data de conclusão:</label
                  >
                  <input type="date" id="modal-duedate" class="form-control" />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-danger"
                data-bs-dismiss="modal"
              >
                Fechar
              </button>
              <button type="submit" class="btn btn-success">
                Salvar tarefa
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
